<div class="sso-page container-fluid">
    <div class="row">
        <top-bar></top-bar>
    </div>
    <div class="container">
        <div class="row" style="padding: 20px 0">
            <div class="col-lg-12 col-md-12">
                <div class="sso-page-single-buttons">
                    <div class="sso-back" (click)="goBack()" style="display:block; margin-bottom: 15px">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>

                    <div class="sso-addnew" style="display:block; margin-bottom: 15px">
                        <i aria-hidden="true" class="fa fa-plus"></i>
                    </div>

                    <div class="sso-delete" style="display:block;" >
                        <i class="thentia-trash" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="sso-interior-block"  *ngFor="let instance of VectorleapInstances">

                    <h1>{{instance.vectorleapName}}</h1>


                    <manage-users-all></manage-users-all>

                </div>
            </div>
            <!--<div class="col-lg-2 col-md-3">-->
            <!--<div class="sso-support-tickets-information">-->

            <!--<h1>Ticket Information</h1>-->

            <!--<div class="sso-divider"></div>-->

            <!--<h2>Submitted on</h2>-->
            <!--<p>November 15, 2016 at 10:30AM</p>-->

            <!--<h2>Status</h2>-->
            <!--<p>Open</p>-->

            <!--<h2></h2>-->

            <!--<div class="sso-divider"></div>-->

            <!--<div>-->
            <!--<div style="display: inline-block">-->
            <!--Mark as solved?-->
            <!--</div>-->
            <!--<div style="text-align: right; display: inline-block">-->
            <!--<input type="checkbox" />-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->

            <!--</div>-->
        </div>
    </div>


</div>

