<table class="table">
    <thead>
    <tr>
        <th>Invoice #</th>
        <th>Issue Date</th>
        <th>Due Date</th>
        <th>Total Amount Due</th>
        <th>Total Balance Owing</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>00123</td>
        <td>09-07-2016</td>
        <td>10-07-2016</td>
        <td>$3200</td>
        <td>$3200</td>
        <td>
            <div class="sso-status sso-status-success">Paid</div>
        </td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/invoices-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>
        <td>00123</td>
        <td>09-07-2016</td>
        <td>10-07-2016</td>
        <td>$3200</td>
        <td>$3200</td>
        <td>
            <div class="sso-status sso-status-warning">Unpaid</div>
        </td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/invoices-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>
        <td>00123</td>
        <td>09-07-2016</td>
        <td>10-07-2016</td>
        <td>$3200</td>
        <td>$3200</td>
        <td>
            <div class="sso-status sso-status-error">Overdue</div>
        </td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/invoices-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    </tbody>
</table>