<kendo-grid [data]="gridView"
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="{ info: false }"
            (pageChange)="pageChange($event)"
            [sortable]="{ mode: 'multiple' }"
            [sort]="sort"
            (sortChange)="sortChange($event)">
    <kendo-grid-column field="userAvatar" title=" "  width="80">
        <template kendoCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="sso-avatar-small" [ngStyle]="{'backgroundColor': dataItem.userAvatarColour}">{{dataItem.userAvatar}}</div>
        </template>
    </kendo-grid-column>
    <kendo-grid-column field="userFname" title="First Name"></kendo-grid-column>
    <kendo-grid-column field="userLname" title="Last name"></kendo-grid-column>
    <kendo-grid-column field="userEmail" title="Email"></kendo-grid-column>
    <kendo-grid-column field="userRole" title="Role"></kendo-grid-column>
    <kendo-grid-column>
        <template kendoCellTemplate let-dataItem>
            <div class="sso-table-button" (click)="openEditDialog(dataItem)">
                <i class="thentia-edit"></i>  Edit
            </div>
            <div class="sso-table-button" (click)="openConfirmDialog(dataItem)">
                <i class="thentia-trash"></i>  delete
            </div>
        </template>
    </kendo-grid-column>
</kendo-grid>

<div class="row" style="margin-top: -43px;">
    <div class="col-md-6 col-md-offset-6" style="text-align: right;">
        <button class="btn btn-sm btn-brand">
            <i class="fa fa-plus"></i> Add a new user
        </button>
    </div>
</div>

<kendo-dialog *ngIf="ConfirmDialogOpened" (close)="closeConfirmDialog()">
    <kendo-dialog-titlebar>
        <img src="http://goo.gl/OAo2Mg" />
        <span>Delete User</span>
    </kendo-dialog-titlebar>

    <p>Are you sure you want to delete <span class="sso-inline-span span-blue">{{firstname}} {{lastname}}</span>?</p>
    <div style="padding: 5px"></div>
    <button class="btn btn-sm btn-brand" (click)="closeConfirmDialog()">Delete</button>
    <button class="btn btn-sm btn-light" (click)="closeConfirmDialog()">Cancel</button>
</kendo-dialog>

<kendo-dialog *ngIf="EditDialogOpened" (close)="closeEditDialog()">
    <kendo-dialog-titlebar>
        <img src="http://goo.gl/OAo2Mg" />
        <span>Edit User</span>
    </kendo-dialog-titlebar>
    <form-user></form-user>
    <div style="padding: 5px"></div>
    <button class="btn btn-sm btn-brand" (click)="closeEditDialog()">Save</button>
    <button class="btn btn-sm btn-light" (click)="closeEditDialog()">Cancel</button>
</kendo-dialog>