<kendo-grid [data]="gridView"
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="{ info: false }"
            (pageChange)="pageChange($event)"
            [sortable]="{ mode: 'multiple' }"
            [scrollable]="'none'"
            [sort]="sort"
            (sortChange)="sortChange($event)">
    <kendo-grid-column field="userAvatar" title=" " [width]="80">
        <template kendoCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="sso-avatar-small" [ngStyle]="{'backgroundColor': dataItem.userAvatarColour}">{{dataItem.userAvatar}}</div>
        </template>
    </kendo-grid-column>
    <kendo-grid-column field="userFname" title="First Name"></kendo-grid-column>
    <kendo-grid-column field="userLname" title="Last name"></kendo-grid-column>
    <kendo-grid-column field="userEmail" title="Email"></kendo-grid-column>
    <kendo-grid-column field="userRole" title="Role"></kendo-grid-column>
    <kendo-grid-column field="123" title=" ">
        <template kendoCellTemplate let-dataItem>
            <div style="text-align: right; width: 100%">
                <div class="sso-table-button" (click)="openEditDialog(dataItem)">
                    <i class="thentia-edit"></i>  Edit
                </div>
                <div class="sso-table-button" (click)="openConfirmDialog(dataItem)">
                    <i class="thentia-trash"></i>  delete
                </div>
            </div>

        </template>
    </kendo-grid-column>
</kendo-grid>


<div class="row" style="margin-top: -43px;">
    <div class="col-md-6 col-md-offset-6" style="text-align: right;">
        <button class="btn btn-sm btn-red" (click)="openAddNew()">
            <i class="fa fa-plus"></i> Add a new user
        </button>
    </div>
</div>

<kendo-dialog *ngIf="ConfirmDialogOpened" (close)="closeConfirmDialog()">
    <kendo-dialog-titlebar>
        <span>Delete User</span>
    </kendo-dialog-titlebar>

    <p>Are you sure you want to delete <span class="sso-inline-span span-blue">{{userdata.userFname}} {{userdata.userLname}}</span>?</p>
    <div style="padding: 5px"></div>
    <button class="btn btn-sm btn-red" (click)="deleteUser(userdata._id)">Delete</button>
    <button class="btn btn-sm btn-light" (click)="closeConfirmDialog()">Cancel</button>
</kendo-dialog>

<kendo-dialog *ngIf="EditDialogOpened" (close)="closeEditDialog()">
    <kendo-dialog-titlebar>
        <span *ngIf="newform">Add a New User</span>
        <span *ngIf="!newform">Edit User</span>
    </kendo-dialog-titlebar>

    <form [formGroup]="editForm">

        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                <div class="form-group" [ngClass]="{ 'form-error': !editForm.controls['firstname'].valid && submitted || editForm.controls['firstname'].touched && !editForm.controls['firstname'].valid }">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="firstname"  [ngModel]="userdata.userFname" />
                    <div class="sso-help-block-inline" *ngIf="editForm.controls['firstname'].hasError('required') && submitted || editForm.controls['firstname'].touched && !editForm.controls['firstname'].valid">Required</div>
                </div>
            </div>

            <div></div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                <div class="form-group" [ngClass]="{ 'form-error': !editForm.controls['lastname'].valid && submitted || editForm.controls['lastname'].touched && !editForm.controls['lastname'].valid }">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName="lastname"  [ngModel]="userdata.userLname" />
                    <div class="sso-help-block-inline" *ngIf="editForm.controls['lastname'].hasError('required') && submitted || editForm.controls['lastname'].touched && !editForm.controls['lastname'].valid">Required</div>
                </div>
            </div>
        </div>

        <div class="sso-interior-form row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                <div class="form-group" [ngClass]="{ 'form-error': !editForm.controls['email'].valid && submitted || editForm.controls['email'].touched && !editForm.controls['email'].valid }">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email"  [ngModel]="userdata.userEmail" />
                    <div class="sso-help-block-inline" *ngIf="editForm.controls['email'].hasError('required') && submitted || editForm.controls['email'].touched && !editForm.controls['email'].valid">Required</div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                <div class="form-group" [ngClass]="{ 'form-error': !editForm.controls['role'].valid && submitted || editForm.controls['role'].touched && !editForm.controls['role'].valid }">
                    <label>Role <i class="fa fa-question-circle sso-tooltip" aria-hidden="true"></i></label>
                    <kendo-dropdownlist formControlName="role" [data]="rolelist" [ngModel]="userdata.userRole">
                        <template kendoDropDownListValueTemplate let-dataItem>
                            {{ userdata.userRole }}
                        </template>
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>

    </form>

    <div style="padding: 5px"></div>

    <button type="submit" *ngIf="newform" [disabled]="!editForm.valid" class="btn btn-sm btn-red" (click)="addUser()">Save</button>
    <button type="submit" *ngIf="!newform" [disabled]="!editForm.valid" class="btn btn-sm btn-red" (click)="updateUser(userdata._id)">Save & Update</button>

    <button type="button" class="btn btn-sm btn-light" (click)="closeEditDialog()">Cancel</button>
</kendo-dialog>