<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Date Added</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>0001</td>
        <td>Open</td>
        <td>Whatever Placeholder goes here</td>
        <td>

        </td>
        <td>2 days ago</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/support-tickets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>
        <td>0002</td>
        <td>In-progress</td>
        <td>sefesa gesgresgtest wtgrgrwg</td>
        <td>

        </td>
        <td>3 days ago</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/support-tickets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    </tbody>
</table>