<!--<h1 style="font-size: 18px; display: inline-block;margin-top: 10px;">Vectorleap Databases</h1>-->



<div class="row" style="padding-top: 15px">
    <div class="col-md-12">

        <div class="col-md-4 col-sm-6" *ngFor="let instance of VectorleapInstances">

                <div class="sso-instance" [routerLink]="['/main/vectorleap-manage/', instance._id]">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-2">
                            <div style="display:inline-block; width:80px; text-align: center">
                                <div class="sso-database-icon">
                                    <i class="fa fa-database" aria-hidden="true"></i>
                                </div>
                                <div class="sso-status" [ngClass]="{'sso-status-success': instance.vectorleapStatus === 'Active'}">{{instance.vectorleapStatus}}</div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-10">
                            <div class="sso-database-info">
                                <h1>{{instance.vectorleapName}}</h1>
                                <!--<p>{{instance.vectorleapDescription}}</p>-->
                                <div>
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    {{instance._id}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        </div>

    </div>

</div>

<hr>

<div class="pull-right">
    <button class="btn btn-red" style="margin-right: 10px"><i class="fa fa-plus"></i> Add a new database</button>
    <button class="btn btn-light"><i class="fa fa-clone" aria-hidden="true"></i> Clone database</button>
</div>
