<h1 style="font-size: 18px; display: inline-block;margin-top: 10px;">Vectorleap Databases</h1>

<div class="pull-right">
    <button class="btn btn-red" style="margin-right: 10px"><i class="fa fa-plus"></i> Add a new database</button>
    <button class="btn btn-light"><i class="fa fa-clone" aria-hidden="true"></i> Clone database</button>
</div>

<hr>

<div class="row" style="padding-top: 15px">
    <div class="col-md-12">

        <div class="col-md-4 col-sm-6" *ngFor="let instance of VectorleapInstances">
            <a [routerLink]="['/main/vectorleap-manage/', instance._id]">
                <div class="sso-instance">
                    <div style="display:inline-block; width:80px; text-align: center">
                        <div class="sso-database-icon">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                        <div class="sso-status" [ngClass]="{'sso-status-success': instance.vectorleapStatus === 'Active'}">{{instance.vectorleapStatus}}</div>
                    </div>


                    <div class="sso-database-info">
                        <h1>{{instance.vectorleapName}}</h1>
                        <p>{{instance.vectorleapDescription}}</p>
                    </div>
                </div>
            </a>

        </div>

    </div>

</div>

<hr>


