<div class="sso-page container-fluid">
    <div class="row">
        <top-bar></top-bar>
    </div>
    <div class="container" *ngFor="let project of projectsAll">
        <div class="row" style="padding: 20px 0">
            <div class="col-lg-12 col-md-12">
                <div class="sso-page-single-buttons">
                    <div class="sso-back" (click)="goBack()" style="display:block; margin-bottom: 15px">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>

                    <div class="sso-addnew" style="display:block; margin-bottom: 15px">
                        <i aria-hidden="true" class="fa fa-plus"></i>
                    </div>

                    <div class="sso-delete" style="display:block;" >
                        <i class="thentia-trash" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="sso-timesheets sso-interior-block">

                    <!--<div class="sso-breadcrumbs">-->
                        <!--<a href="#">CMO</a>-->
                        <!--<span> / </span>-->
                        <!--<a href="#">All Projects</a>-->
                        <!--<span> / </span>-->
                        <!--<a class="active">{{project.projectName}}</a>-->
                    <!--</div>-->

                    <div class="sso-status" [ngClass]="{'sso-status-success': project.projectCompleted === true, 'sso-status-warning': project.projectCompleted === false }">{{project.projectCompleted ? 'Completed' : 'In-Progress'}}</div>

                    <h1 style="margin-top: 10px; margin-bottom: 10px">{{project.projectName}}</h1>


                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 sso-timesheets-total">
                                <div class="col-md-4 col-sm-4">
                                    <h1>Billable Hours</h1>
                                    16 <span>hrs</span>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <h1>Non-Billable Hours</h1>
                                    3 <span>hrs</span>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <h1>Total Hours</h1>
                                    19 <span>hrs</span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <kendo-grid [data]="gridView"
                                [pageSize]="pageSize"
                                [skip]="skip"
                                [pageable]="{ info: false }"
                                (pageChange)="pageChange($event)"
                                [sortable]="{ mode: 'multiple' }"
                                [scrollable]="'none'"
                                [sort]="sort"
                                (sortChange)="sortChange($event)">
                        <kendo-grid-column field="taskApproved" title=" ">
                            <template kendoCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div class="sso-status" [ngClass]="{'sso-status-success': dataItem.taskApproved === true, 'sso-status-warning': dataItem.taskApproved === false }">{{dataItem.taskApproved ? 'Approved' : 'Approval Pending'}}</div>
                            </template>
                        </kendo-grid-column>
                        <kendo-grid-column field="taskName" title="Task" [width]="250"></kendo-grid-column>
                        <kendo-grid-column field="taskNotes" title="Notes" [width]="400">
                            <template kendoCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div [innerHTML]="dataItem.taskNotes"></div>
                            </template>
                        </kendo-grid-column>
                        <kendo-grid-column field="taskBillable" title="Status">
                            <template kendoCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div style="color: #bbbbbb">{{dataItem.taskBillable ? 'Billable' : 'Non-Billable'}}</div>
                            </template>
                        </kendo-grid-column>
                        <kendo-grid-column field="taskTime" title="Hours">
                            <!--<template kendoCellTemplate let-dataItem>-->
                                <!--<strong>{{dataItem.taskTime}}</strong>-->
                            <!--</template>-->
                            <template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                                Total: {{column.field}}
                            </template>
                        </kendo-grid-column>


                    </kendo-grid>

                </div>
            </div>
            <!--<div class="col-lg-2 col-md-3">-->
                <!--<div class="sso-support-tickets-information">-->

                    <!--<h1>Ticket Information</h1>-->

                    <!--<div class="sso-divider"></div>-->

                    <!--<h2>Submitted on</h2>-->
                    <!--<p>November 15, 2016 at 10:30AM</p>-->

                    <!--<h2>Status</h2>-->
                    <!--<p>Open</p>-->

                    <!--<h2></h2>-->

                    <!--<div class="sso-divider"></div>-->

                    <!--<div>-->
                        <!--<div style="display: inline-block">-->
                            <!--Mark as solved?-->
                        <!--</div>-->
                        <!--<div style="text-align: right; display: inline-block">-->
                            <!--<input type="checkbox" />-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->

            <!--</div>-->
        </div>
    </div>


</div>

