<div class="sso-page container-fluid">
    <div class="row">
        <top-bar></top-bar>
    </div>
    <div class="container">
        <div class="row" style="padding: 20px 0">
            <div class="col-lg-12 col-md-12">
                <div class="sso-page-single-buttons">
                    <div class="sso-back" (click)="goBack()" style="display:block; margin-bottom: 15px">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="sso-delete" style="display:block;">
                        <i class="thentia-trash" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="sso-timesheets sso-interior-block">
                    <h1><a href="#">CMO</a>
                        <span> / </span> Online Self Service</h1>

                    <table class="table table-no-hover">
                        <thead>
                        <tr>
                            <th>Assignee</th>
                            <th>Tasks</th>
                            <th>Notes</th>
                            <th>Hours</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="3">
                                <div class="sso-avatar-small" style="background-color: #ad2c57">BE</div>
                                Beth Ericksen
                            </td>
                            <td>Adding invoicing capability</td>
                            <td>
                                <ul>
                                    <li>Designed UI</li>
                                    <li>Added responsive layout</li>
                                </ul>
                            </td>
                            <td><strong>3h30m</strong></td>
                            <td>
                                <div class="sso-table-button" [routerLink]="['/main/manage-users-single/view-user']">
                                    <i class="thentia-edit"></i> edit
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Adding invoicing capability</td>
                            <td>
                                <ul>
                                    <li>Designed UI</li>
                                    <li>Added responsive layout</li>
                                </ul>
                            </td>
                            <td><strong>3h30m</strong></td>
                            <td>
                                <div class="sso-table-button" [routerLink]="['/main/manage-users-single/view-user']">
                                    <i class="thentia-edit"></i> edit
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Adding invoicing capability</td>
                            <td>
                                <ul>
                                    <li>Designed UI</li>
                                    <li>Added responsive layout</li>
                                </ul>
                            </td>
                            <td><strong>3h30m</strong></td>
                            <td>
                                <div class="sso-table-button" [routerLink]="['/main/manage-users-single/view-user']">
                                    <i class="thentia-edit"></i> edit
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td rowspan="3">
                                <div class="sso-avatar-small" style="background-color: #1a9872">BE</div>
                                Jane Doe
                            </td>
                            <td>Adding invoicing capability</td>
                            <td>
                                <ul>
                                    <li>Designed UI</li>
                                    <li>Added responsive layout</li>
                                </ul>
                            </td>
                            <td><strong>3h30m</strong></td>
                            <td>
                                <div class="sso-table-button" [routerLink]="['/main/manage-users-single/view-user']">
                                    <i class="thentia-edit"></i> edit
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Adding invoicing capability</td>
                            <td>
                                <ul>
                                    <li>Designed UI</li>
                                    <li>Added responsive layout</li>
                                </ul>
                            </td>
                            <td><strong>3h30m</strong></td>
                            <td>
                                <div class="sso-table-button" [routerLink]="['/main/manage-users-single/view-user']">
                                    <i class="thentia-edit"></i> edit
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
            <!--<div class="col-lg-2 col-md-3">-->
                <!--<div class="sso-support-tickets-information">-->

                    <!--<h1>Ticket Information</h1>-->

                    <!--<div class="sso-divider"></div>-->

                    <!--<h2>Submitted on</h2>-->
                    <!--<p>November 15, 2016 at 10:30AM</p>-->

                    <!--<h2>Status</h2>-->
                    <!--<p>Open</p>-->

                    <!--<h2></h2>-->

                    <!--<div class="sso-divider"></div>-->

                    <!--<div>-->
                        <!--<div style="display: inline-block">-->
                            <!--Mark as solved?-->
                        <!--</div>-->
                        <!--<div style="text-align: right; display: inline-block">-->
                            <!--<input type="checkbox" />-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->

            <!--</div>-->
        </div>
    </div>


</div>

