
<div class="thentia-line">
    <div class="red"></div>
    <div class="yellow"></div>
    <div class="green"></div>
    <div class="darkgreen"></div>
    <div class="blue"></div>
</div>

<div class="slide-apps" ng-show="showappsmobile">
    <i class="fa fa-times exit" ng-click="showappsmobile = !showappsmobile"></i>
    <div class="row" style="margin: 0px !important;">
        <div class="app-single col-sm-12 col-xs-12">
            <img src="/assets/images/thentia_app_main.png">
            <h5>Thentia</h5>
        </div>

        <div class="app-single col-sm-12 col-xs-12">
            <img src="/assets/images/thentia_app_vectorleap.png">
            <h5>VectorLeap</h5>
        </div>

        <div class="app-single col-sm-12 col-xs-12">
            <img src="/assets/images/thentia_app_smartgovern.png">
            <h5>SmartGovern</h5>
        </div>

    </div>
</div>
<div class="slide-mobile hidden-md hidden-lg" ng-show="openmobile">
    <div class="user-mobile-info">
        <div class="avatar-small-mobile" style="background-image: url('/assets/images/avatar_1.png')"></div>
        <div style="display: inline-block; margin-top: 12px;"><span>John Smith</span></div>
    </div>
    <ul>
        <a href="#">
            <li>Account Profile</li>
        </a>
        <a href="#">
            <li>Logout</li>
        </a>
    </ul>
    <!--        <li class="back-to-dash" style="margin-bottom: 20px"><a href="/form/dashboard/index.php" style="font-weight: 500; border:1px solid #e6e6e6; padding: 10px 15px;"><i class="fa fa-angle-left" style="padding-left: 0px;"></i> Back</a></li>-->
</div>

<div class="screen-overlay hidden-md hidden-lg" ng-show="openmobile" ng-click="openmobile = !openmobile"></div>


<div class="container-fluid" style="background-color: #f7f7f7;">
    <div class="row">
        <div class="col-xs-12 top-bar top-bar-alt" style="padding: 0px 50px 0px 40px">
            <div class="signup-logo pull-left">
                <img src="/assets/images/thentia_logo_web.svg" width="170px" height="100%" style="margin-top: 7px">
            </div>
            <div class="pull-right hidden-sm hidden-md hidden-lg">
                <img src="/assets/images/thentia_app.png" class="thentia-app thentia-app-mobile" ng-click="showappsmobile = !showappsmobile">
                <i class="fa fa-bars thentia-app-bars" style="font-size: 17px; vertical-align: middle;" ng-click="openmobile = !openmobile"></i>
            </div>
            <div class="pull-right hidden-xs" style="position: relative">
                <div style="display: inline-block; position: relative">
                    <img src="/assets/images/thentia_app.png" class="thentia-app" ng-click="openapps = !openapps" hide-apps="hideAppBox()">
                    <div class="thentia-options">

                        <div class="arrow-box" ng-show="openapps" hide-apps="hideAppBox()" >
                            <div class="row" style="margin: 0px !important;">
                                <div class="app-single col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <img src="/assets/images/thentia_app_main.png">
                                    <h5>Self-Service &amp; Support</h5>
                                </div>

                                <div class="app-single col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <img src="/assets/images/thentia_app_vectorleap.png">
                                    <h5>Vectorleap</h5>
                                </div>

                                <div class="app-single col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <img src="/assets/images/thentia_app_smartgovern.png">
                                    <h5>Smartgovern</h5>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="dropdown" style="display: inline-block">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <div class="avatar-small" style="background-image: url('/assets/images/avatar_1.png'); float: left"></div>
                        <div style="display: inline-block; float:left; margin-top: 12px;"><span>John Smith</span></div>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="">Account Profile</a></li>
                        <li><a href="">Company Admin</a></li>
                        <li><a href=""><i class="fa fa-power-off"></i>  Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding: 20px 50px">
            <h3>Welcome! John Smith.</h3>
            <p style="font-weight: 400; font-size: 15px">Welcome to the Member Portal. This self-service system offers all the tools you need to meet your College reporting requirements. Using the menu and buttons below, you may access the current registration renewal application, pay your fees and keep your membership information up to date.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mobile-container" style="padding: 20px 50px">

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <div class="card card-1">
                    <img src="/assets/images/thentia_address.png">
                    <h4>Company Details</h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <div class="card card-1">
                    <img src="/assets/images/thentia_support.png">
                    <h4>Support Tickets</h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <div class="card card-1">
                    <img src="/assets/images/thentia_knowledge.png">
                    <h4>Knowledge Base</h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <div class="card card-1">
                    <img src="/assets/images/thentia_timesheet.png">
                    <h4>Timesheets</h4>
                </div>
            </div>

            <div class="clearfix visible-md visible-lg"></div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <a href="#">
                    <div class="card card-1">
                        <span class="number-new">12</span>
                        <img src="/assets/images/thentia_invoice.png">
                        <h4>Invoices</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <div class="card card-1">
                    <img src="/assets/images/thentia_agreement.png">
                    <h4>Agreements</h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <div class="card card-1">
                    <img src="/assets/images/thentia_project.png">
                    <h4>Projects</h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <div class="card card-1">
                    <img src="/assets/images/thentia_user.png">
                    <h4>Users</h4>
                </div>
            </div>

        </div>
    </div>

</div>