<h1>Reset Password</h1>
<p>Enter your new password below.</p>
<form name="form">
    <div class="form-group">
        <label>New Password</label>
        <div style="padding: 2px"></div>
        <span class="icon"><i class="thentia-key"></i></span>
        <input type="password" class="form-control">
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <div style="padding: 2px"></div>
        <span class="icon"><i class="thentia-key"></i></span>
        <input type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-brand">Confirm</button>
</form>