@charset "UTF-8";
body {
  background-color: #f7f7f7; }

html,
body {
  font-family: "proxima-nova", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #3d474f !important;
  height: 100%;
  overflow-x: hidden; }

::-moz-selection {
  background: rgba(61, 71, 79, 0.05); }

::selection {
  background: rgba(61, 71, 79, 0.05); }

button:hover, button:active, button:focus {
  outline: none !important;
  box-shadow: none !important; }

a:hover, a:focus {
  color: inherit !important; }

.thentia-line {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 1100; }
  .thentia-line div {
    height: 20%;
    left: 0;
    width: 8px; }
  .thentia-line .red {
    background-color: #eb563c; }
  .thentia-line .yellow {
    background-color: #f0b030; }
  .thentia-line .green {
    background-color: #4cb89e; }
  .thentia-line .darkgreen {
    background-color: #048586; }
  .thentia-line .blue {
    background-color: #004f75; }

.sso-loading {
  position: absolute;
  top: 50%;
  left: 50%; }

.center {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%); }

label {
  font-weight: 600;
  font-size: 14px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.form-control {
  font-size: 15px !important;
  border: 1px solid #e6e6e6 !important;
  box-sizing: border-box; }

.form-group label {
  padding-top: 12px;
  font-weight: 500 !important;
  font-size: 14px; }

.table {
  font-size: 14px !important; }

.table > tbody > tr > td {
  vertical-align: middle !important; }

.table > thead > tr > th {
  border-bottom: 1px solid #cccccc !important; }

.alert {
  border-radius: 0px;
  border: 0px;
  padding: 20px;
  margin-bottom: 20px;
  display: block; }
  .alert .alert-icon {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    line-height: 40px;
    text-align: center; }
    .alert .alert-icon i {
      font-size: 20px; }
  .alert h1 {
    font-size: 15px !important;
    font-weight: 600 !important;
    margin-top: 0; }
  .alert p {
    margin-bottom: 0px !important; }
  .alert ul {
    margin-bottom: 0;
    padding-left: 15px; }
    .alert ul li {
      font-size: 14px; }

.alert-brand {
  background-color: rgba(0, 79, 117, 0.08);
  color: #004f75;
  border-bottom: 1px solid rgba(0, 79, 117, 0.1) !important; }
  .alert-brand .alert-icon {
    background-color: rgba(0, 79, 117, 0.09); }
    .alert-brand .alert-icon i {
      color: #004f75; }
    .alert-brand .alert-icon hr {
      border-top-color: rgba(0, 79, 117, 0.2); }
  .alert-brand .alert-link {
    color: #004f75; }

.form-error input {
  border: 1px solid #ef8da1 !important;
  transition: all .3s; }

.form-error .icon i {
  color: #e9607b;
  transition: all .3s; }

.form-success {
  position: relative; }
  .form-success input {
    border: 1px solid #4cb89e !important;
    transition: all .3s; }
  .form-success .k-dropdown-wrap {
    border-bottom: 1px solid #4cb89e !important; }
    .form-success .k-dropdown-wrap .k-i-arrow-s:before {
      color: #fff !important; }
  .form-success:after {
    font-family: FontAwesome;
    content: '\f00c';
    color: #4cb89e;
    position: absolute;
    right: 12px;
    font-size: 12px;
    bottom: 12px; }

.checkbox-inline .sso-help-block-checkbox {
  z-index: 10000;
  position: absolute;
  bottom: -40px;
  left: -15px;
  background-color: #fce7eb;
  font-size: 13px;
  font-weight: 500;
  color: #e23456;
  padding: 5px 10px;
  border-radius: 3px;
  max-width: 50%;
  transition: all .3s;
  -webkit-animation: fadein .5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .5s;
  /* Firefox < 16 */
  -ms-animation: fadein .5s;
  /* Internet Explorer */
  -o-animation: fadein .5s;
  /* Opera < 12.1 */
  animation: fadein .5s; }
  .checkbox-inline .sso-help-block-checkbox:after {
    bottom: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fce7eb;
    border-width: 8px;
    margin-left: -8px; }

.sso-help-block {
  position: absolute;
  bottom: 35px;
  right: 10px;
  background-color: #fce7eb;
  font-size: 13px;
  font-weight: 500;
  color: #e23456;
  padding: 5px 10px;
  border-radius: 3px;
  max-width: 50%;
  transition: all .3s;
  -webkit-animation: fadein .5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .5s;
  /* Firefox < 16 */
  -ms-animation: fadein .5s;
  /* Internet Explorer */
  -o-animation: fadein .5s;
  /* Opera < 12.1 */
  animation: fadein .5s; }
  .sso-help-block:after {
    top: 98%;
    left: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(225, 255, 255, 0);
    border-top-color: #fce7eb;
    border-width: 8px;
    margin-left: -8px; }

.sso-count-badge {
  font-size: 12px;
  background-color: #eb563c;
  display: inline-block;
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 2px 5px; }

.sso-status {
  background-color: #3d474f;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  display: inline-block;
  padding: 2px 10px;
  letter-spacing: 1px; }

.sso-status-success {
  background-color: #4cb89e; }

.sso-status-warning {
  background-color: #f0b030; }

.sso-status-error {
  background-color: #eb563c; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.sso-help-block-inline {
  color: #e23456;
  font-size: 13px;
  font-weight: 500; }

.sso-form-footer {
  font-size: 13px;
  padding-top: 15px; }

.sso-round-input {
  border: 1px solid #cccccc;
  border-radius: 500px;
  max-width: 300px; }

.sso-avatar {
  width: 47px;
  height: 47px;
  border-radius: 1000px;
  display: inline-block;
  color: #fff;
  background-color: #048586;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  line-height: 47px; }

.sso-avatar-admin {
  width: 47px;
  height: 47px;
  border-radius: 1000px;
  display: inline-block;
  color: #fff;
  background-color: #3d474f;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  line-height: 47px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc !important;
  font-weight: 300 !important; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc !important;
  font-weight: 300 !important; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc !important;
  font-weight: 300 !important; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc !important;
  font-weight: 300 !important; }

.sso-divider {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6; }

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s; }

.sso-inline-span.span-blue {
  background-color: rgba(0, 79, 117, 0.09);
  padding: 3px 5px;
  color: #004f75;
  border-radius: 3px;
  font-weight: 600;
  display: inline-block; }

.btn {
  border-radius: 3px;
  outline: 0;
  padding: 10px 15px;
  color: #3d474f;
  font-weight: 500;
  font-size: 14px; }

.btn-brand {
  color: #fff;
  border-bottom: 2px solid #001b29;
  background-color: #004f75; }
  .btn-brand:hover, .btn-brand:active, .btn-brand:focus {
    outline: none;
    color: #fff; }

.btn-green {
  color: #fff;
  border-bottom: 2px solid #348370;
  background-color: #4cb89e; }
  .btn-green:hover, .btn-green:active, .btn-green:focus {
    outline: none;
    color: #fff; }

.btn-yellow {
  color: #fff;
  border-bottom: 2px solid #c5880e;
  background-color: #f0b030; }
  .btn-yellow:hover, .btn-yellow:active, .btn-yellow:focus {
    outline: none;
    color: #fff; }

.btn-red {
  color: #fff;
  border-bottom: 2px solid #c62f14;
  background-color: #eb563c; }
  .btn-red:hover, .btn-red:active, .btn-red:focus {
    outline: none;
    color: #fff; }

.btn-light {
  color: #a6a6a6;
  border-bottom: 2px solid #dddddd;
  background-color: #eaeaea; }
  .btn-light:hover, .btn-light:active, .btn-light:focus {
    color: #a6a6a6; }

.btn-line {
  color: #a6a6a6;
  border: 1px solid #cccccc;
  background-color: transparent;
  transition: all .3s; }
  .btn-line:hover, .btn-line:active, .btn-line:focus {
    color: #a6a6a6;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all .3s; }

.btn-sm {
  font-size: 13px;
  padding: 7px 20px; }
  .btn-sm i {
    font-size: 12px; }

.sso-print {
  background-color: #fff;
  border: 1px solid #cccccc;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #3d474f;
  transition: all .3s;
  border-radius: 300px;
  display: inline-block; }
  .sso-print i {
    line-height: inherit;
    font-size: 20px; }
  .sso-print:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all .3s; }

.sso-back, .sso-addnew {
  background-color: #fff;
  border: 1px solid #cccccc;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #3d474f;
  transition: all .3s;
  border-radius: 300px;
  display: inline-block; }
  .sso-back i, .sso-addnew i {
    line-height: inherit;
    font-size: 13px; }
  .sso-back:hover, .sso-addnew:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all .3s; }

.sso-edit, .sso-delete {
  background-color: #fff;
  border: 1px solid #cccccc;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #3d474f;
  transition: all .3s;
  border-radius: 300px;
  display: inline-block; }
  .sso-edit i, .sso-delete i {
    line-height: inherit;
    font-size: 18px; }
  .sso-edit:hover, .sso-delete:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all .3s; }

.sso-invoice-paper {
  background-color: #fff;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.08); }
  .sso-invoice-paper h1 {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(61, 71, 79, 0.5) !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .sso-invoice-paper h2 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px; }
  .sso-invoice-paper h3 {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    margin-top: 0; }
  .sso-invoice-paper p {
    font-size: 14px; }
  .sso-invoice-paper .table {
    border-bottom: 1px solid #e6e6e6; }
  .sso-invoice-paper .table > thead > tr > th {
    font-size: 14px;
    font-weight: 400;
    color: rgba(61, 71, 79, 0.5);
    padding-left: 0px; }
  .sso-invoice-paper .table > tbody > tr > td {
    padding-left: 0px; }
  .sso-invoice-paper .sso-invoice-total {
    background-color: #f7f7f7;
    border-top: 2px solid #3d474f;
    border-bottom: 1px solid #cccccc;
    margin-top: 10px; }
    .sso-invoice-paper .sso-invoice-total h1, .sso-invoice-paper .sso-invoice-total h2 {
      color: #3d474f !important;
      font-weight: 600; }

.sso-invoice-total-box {
  background-color: #efefef;
  padding: 20px;
  margin-bottom: 20px; }
  .sso-invoice-total-box h1 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(61, 71, 79, 0.5);
    margin-top: 0; }
  .sso-invoice-total-box h4 {
    margin-bottom: 0; }

@media (min-width: 768px) and (max-width: 992px) {
  .sso-login-form {
    height: auto !important;
    padding: 50px; }
  .center {
    position: relative !important;
    top: 0%;
    transform: translate(0%, 0%); } }

@media only screen and (max-width: 768px) {
  .sso-login-form {
    height: auto !important;
    padding: 30px 15px; }
  .center {
    position: relative !important;
    top: 0%;
    transform: translate(0%, 0%); } }

.sso-login-logo {
  background-image: url("/src/main/resources/assets/images/sso-login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .sso-login-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.form-group {
  margin-bottom: 10px;
  position: relative; }
  .form-group .icon {
    float: left;
    color: #cccccc;
    font-size: 19px;
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: 14px; }
  .form-group label span {
    font-weight: 400;
    color: rgba(61, 71, 79, 0.75); }

.sso-login-form .form-control {
  padding: 10px 15px 10px 47px; }
  .sso-login-form .form-control:hover, .sso-login-form .form-control:active, .sso-login-form .form-control:focus {
    background-color: #fff; }

.sso-login-form .btn {
  margin-top: 20px;
  margin-right: 8px; }

.sso-login-form h1 {
  font-size: 26px;
  font-weight: 300;
  margin-top: 0px; }

.sso-login-form p {
  margin-bottom: 20px;
  font-size: 14px; }

.sso-login-footer {
  margin-top: 20px; }
  .sso-login-footer div {
    vertical-align: middle; }
    .sso-login-footer div p {
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 0;
      vertical-align: middle;
      margin-top: 15px; }
    .sso-login-footer div img {
      float: right; }

.sso-no-account {
  background-color: #f2f2f2;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #3d474f;
  font-weight: 400; }
  .sso-no-account a {
    color: #004f75;
    font-weight: 600;
    transition: all .3s; }
    .sso-no-account a:hover, .sso-no-account a:active, .sso-no-account a:focus {
      text-decoration: none;
      color: #1c2024;
      transition: all .3s; }

.sso-login-logo-tablet {
  text-align: center;
  padding: 70px;
  background-color: #fff;
  background-image: url("/assets/images/vectorleap_login_tm_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.sso-login-logo-mobile {
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
  background-image: url("/assets/images/vectorleap_login_mobile_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .sso-login-logo-mobile img {
    display: inline-block !important; }

.main-area {
  padding-top: 140px; }

.sso-main-dashboard {
  background-color: #f7f7f7;
  margin-left: 9px; }

.sso-page-controls {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea; }

.sso-page-main {
  padding: 20px 0px; }
  .sso-page-main h1 {
    font-weight: 300;
    font-size: 25px;
    margin-top: 0; }
  .sso-page-main p {
    font-size: 14px; }
  .sso-page-main .sso-last-login {
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 20px; }
    .sso-page-main .sso-last-login span {
      font-size: 14px;
      font-weight: 300;
      color: rgba(61, 71, 79, 0.5);
      display: block; }

.sso-main-dashboard-cards {
  padding: 35px 0; }

.user-greet {
  padding-left: 60px; }
  .user-greet h1 {
    font-size: 34px;
    margin-top: 0; }

.user {
  display: inline-block;
  background-color: transparent;
  padding: 10px 15px;
  border: 1px solid #cccccc;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 35px; }
  .user span {
    font-weight: 600; }

.mobile-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px; }
  .mobile-login .login-logo-mobile {
    margin-bottom: 30px; }

.input-alternate:focus {
  border-bottom: 1px solid #c8c9cc;
  transition: all 0.5s; }

.top-bar-alt {
  -webkit-box-shadow: 0px 6px 11px -5px rgba(230, 230, 230, 0.7);
  -moz-box-shadow: 0px 6px 11px -5px rgba(230, 230, 230, 0.7);
  box-shadow: 0px 6px 11px -5px rgba(230, 230, 230, 0.7); }

.welcome-main {
  height: 100vh; }

.sso-card {
  background: #fff;
  padding: 20px;
  display: inline-block;
  position: relative;
  color: #3d474f;
  text-align: center;
  border-radius: 3px;
  width: 100%; }
  .sso-card .btn-brand {
    color: #4d4d4d;
    text-decoration: none;
    background-color: #f7f7f7;
    background-image: none;
    margin-top: 15px;
    border-radius: 3px; }
    .sso-card .btn-brand:hover {
      background-color: #f2f2f2;
      transition: all .3s; }
  .sso-card h4 {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3d474f;
    font-size: 15px;
    font-weight: 500; }

.sso-card-default {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #3d474f; }

.sso-card-default:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.03);
  color: inherit; }
  .sso-card-default:hover .number-new {
    color: #fff !important; }

.sso-card-disabled {
  opacity: .35; }

.dropdown-menu {
  margin-top: 0px !important;
  border: 1px solid #e6e6e6;
  top: 120% !important;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06); }
  .dropdown-menu li a {
    padding: 10px 20px;
    font-size: 14px;
    color: #3d474f;
    font-weight: 500; }
  .dropdown-menu:after, .dropdown-menu:before {
    bottom: 100%;
    left: 37px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1002; }
  .dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
    display: inline-block;
    z-index: 1002; }
  .dropdown-menu:before {
    border-color: rgba(230, 230, 230, 0);
    border-bottom-color: #e6e6e6;
    border-width: 11px;
    margin-left: -11px;
    display: inline-block;
    z-index: 1002; }

.thentia-app,
.thentia-app-bars {
  padding: 31px 20px;
  display: inline; }

.thentia-app:hover,
.thentia-app-bars:hover {
  background-color: #fafafa;
  cursor: pointer; }

.arrow-box {
  position: relative;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  width: 250px;
  height: auto;
  padding: 15px;
  z-index: 1002;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.1); }
  .arrow-box:after, .arrow-box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1002; }
  .arrow-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
    display: inline-block;
    z-index: 1002; }
  .arrow-box:before {
    border-color: rgba(230, 230, 230, 0);
    border-bottom-color: #e6e6e6;
    border-width: 11px;
    margin-left: -11px;
    display: inline-block;
    z-index: 1002; }

.thentia-options {
  position: absolute;
  z-index: 1001;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  display: none; }

.app-single {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0px; }
  .app-single:hover {
    background-color: #fafafa;
    cursor: pointer;
    transition: all .3s; }

.show {
  display: none;
  transition: all .5s;
  opacity: 0; }

.card-new-alert {
  position: absolute;
  top: 0;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 100px;
  border: 2px solid rgba(61, 71, 79, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  font-weight: 500;
  color: #3d474f; }

.number-new {
  background-color: #eb563c;
  color: #fff;
  font-weight: 700;
  top: 0;
  right: 0;
  padding: 4px 9px;
  font-size: 13px;
  border-radius: 100px;
  margin-top: -10px;
  margin-right: -10px;
  position: absolute; }

.thentia-options-mobile {
  position: absolute;
  z-index: 1001;
  right: 0 !important;
  margin-top: 20px;
  transform: translateX(0%) !important; }

.thentia-app.fa-bars {
  font-size: 16px; }

.mobile-profile-menu {
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  z-index: 1099; }
  .mobile-profile-menu ul {
    list-style-type: none; }
    .mobile-profile-menu ul li {
      font-size: 17px;
      font-weight: 500;
      text-align: left; }

.user-mobile-info {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center; }

.slide-apps {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1099;
  text-align: center;
  overflow: auto;
  animation: 0.5s smoothfadein; }
  .slide-apps .app-single {
    padding: 20px 0px; }

.slide-apps.ng-hide {
  animation: 0.5s smoothfadeout; }

.slide-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 100%;
  background-color: white;
  z-index: 1999;
  display: block;
  width: 200px;
  overflow: auto;
  text-align: center;
  animation: 0.5s smoothslidein; }
  .slide-mobile li {
    padding: 0px 20px; }
  .slide-mobile a {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 5px; }
  .slide-mobile ul {
    padding-left: 0px !important;
    list-style-type: none; }

.slide-mobile.ng-hide {
  animation: 0.5s smoothslideout; }

.avatar-small-mobile {
  width: 90px;
  height: 90px;
  border-radius: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  margin: 0 auto; }

.screen-overlay {
  background-color: #1a1a1a;
  opacity: .8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1900;
  animation: 0.5s bgsmoothfadein; }

.screen-overlay.ng-hide {
  animation: 0.5s bgsmoothfadeout; }

.user-mobile-info span {
  font-weight: 600 !important;
  font-size: 16px !important;
  text-align: center; }

.slide-apps {
  padding-top: 70px; }
  .slide-apps .app-single:hover {
    background-color: transparent; }

.exit {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 17px;
  color: #3d474f; }
  .exit:hover {
    cursor: pointer; }

.sso-page {
  margin-left: 9px; }

.sso-page-single h1 {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin: 0; }

.sso-page-single .sso-search {
  height: 35px !important;
  max-width: 220px;
  font-size: 14px !important;
  display: inline-block; }

.sso-page-single .sso-page-logo {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -3px; }

.sso-page-menu {
  list-style-type: none;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-left: 0; }
  .sso-page-menu li {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: rgba(61, 71, 79, 0.5);
    font-weight: 500;
    margin-bottom: -2px;
    transition: color .3s; }
    .sso-page-menu li:hover {
      cursor: pointer;
      color: rgba(61, 71, 79, 0.7);
      transition: color .3s; }

.sso-page-menu-active, .ssopagemenuactive {
  border-bottom: 3px solid #4cb89e;
  color: #3d474f !important; }

.sso-green .sso-page-menu-active, .sso-green .ssopagemenuactive {
  border-bottom: 3px solid #4cb89e;
  color: #3d474f !important; }

.sso-green .btn-brand {
  color: #fff;
  border-bottom: 2px solid #348370;
  background-color: #4cb89e; }
  .sso-green .btn-brand:hover, .sso-green .btn-brand:active, .sso-green .btn-brand:focus {
    outline: none;
    color: #fff; }

.sso-red .sso-page-menu-active, .sso-red .ssopagemenuactive {
  border-bottom: 3px solid #eb563c;
  color: #3d474f !important; }

.sso-yellow .sso-page-menu-active, .sso-yellow .ssopagemenuactive {
  border-bottom: 3px solid #f0b030;
  color: #3d474f !important; }

.sso-blue .sso-page-menu-active, .sso-blue .ssopagemenuactive {
  border-bottom: 3px solid #004f75;
  color: #3d474f !important; }

.sso-page-menu-new {
  background-color: #f7f7f7;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  padding: 10px 15px;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .sso-page-menu-new:hover, .sso-page-menu-new:active, .sso-page-menu-new:focus {
    background-color: #fff;
    cursor: pointer; }
  .sso-page-menu-new i {
    font-size: 12px; }

.sso-page-single-buttons {
  position: absolute; }

.sso-interior-block {
  margin-left: 60px;
  background-color: #fff;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.08); }
  .sso-interior-block h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0; }
  .sso-interior-block p {
    font-size: 14px; }
  .sso-interior-block .sso-form-display-only {
    font-weight: 500;
    background-color: #f9f9f9 !important; }

.sso-page-search {
  background-color: #f2f2f2;
  margin-top: -20px;
  padding: 15px; }
  .sso-page-search .form-inline {
    margin-bottom: 0; }
    .sso-page-search .form-inline .form-group {
      margin-bottom: 0; }

.sso-interior-form .btn {
  margin-top: 20px;
  margin-bottom: 20px; }

.sso-interior-form p {
  margin-bottom: 20px;
  font-size: 14px; }

.sso-interior-form .sso-no-account {
  margin-top: 0px; }

.sso-interior-form .k-dropdown {
  width: 100% !important;
  padding-right: 0 !important; }
  .sso-interior-form .k-dropdown .k-dropdown-wrap {
    height: 41px !important; }
    .sso-interior-form .k-dropdown .k-dropdown-wrap .k-icon {
      line-height: 2.5em;
      height: 100%; }
  .sso-interior-form .k-dropdown .k-select .k-i-arrow-s:before {
    font-family: FontAwesome !important;
    content: '\f107' !important;
    font-size: 14px !important; }
  .sso-interior-form .k-dropdown .k-select:hover {
    background-color: transparent !important; }
  .sso-interior-form .k-dropdown .k-input {
    font-size: 15px !important;
    height: 36px !important;
    line-height: 2.35em !important; }
  .sso-interior-form .k-dropdown .k-animation-container {
    font-size: 15px !important; }

.sso-breadcrumbs {
  font-size: 14px; }
  .sso-breadcrumbs a {
    color: rgba(61, 71, 79, 0.7); }
    .sso-breadcrumbs a:hover, .sso-breadcrumbs a:active, .sso-breadcrumbs a:focus {
      text-decoration: none; }
  .sso-breadcrumbs span {
    color: rgba(61, 71, 79, 0.35); }
  .sso-breadcrumbs .active {
    font-weight: 600;
    color: #3d474f; }

@media only screen and (max-width: 767px) {
  .sso-signup-left-side-container {
    height: auto !important; }
  .sso-signup-left-side {
    padding: 20px !important; }
  .sso-signup-form {
    padding-top: 35px !important;
    height: auto !important; } }

.sso-signup-form {
  padding-top: 65px; }
  .sso-signup-form .btn {
    margin-top: 20px;
    margin-bottom: 20px; }
  .sso-signup-form h1 {
    font-size: 26px;
    font-weight: 300;
    margin-top: 0px; }
  .sso-signup-form p {
    margin-bottom: 20px;
    font-size: 14px; }
  .sso-signup-form .sso-no-account {
    margin-top: 0px; }
  .sso-signup-form .k-dropdown {
    width: 100% !important;
    padding-right: 0 !important; }
    .sso-signup-form .k-dropdown .k-dropdown-wrap {
      height: 41px !important; }
      .sso-signup-form .k-dropdown .k-dropdown-wrap .k-icon {
        line-height: 2.5em;
        height: 100%; }
    .sso-signup-form .k-dropdown .k-select .k-i-arrow-s:before {
      font-family: FontAwesome !important;
      content: '\f107' !important;
      font-size: 14px !important; }
    .sso-signup-form .k-dropdown .k-select:hover {
      background-color: transparent !important; }
    .sso-signup-form .k-dropdown .k-input {
      font-size: 15px !important;
      height: 36px !important;
      line-height: 2.35em !important; }
    .sso-signup-form .k-dropdown .k-animation-container {
      font-size: 15px !important; }

.sso-signup-left-side {
  padding: 50px 20px; }
  .sso-signup-left-side .sso-signup-logo {
    margin-left: -8px; }
  .sso-signup-left-side p {
    font-size: 14px; }

.step-indicators {
  position: relative; }
  .step-indicators li {
    list-style-type: none;
    margin-bottom: 20px; }
    .step-indicators li a {
      font-size: 15px;
      font-weight: 500;
      color: #cccccc;
      cursor: not-allowed; }
      .step-indicators li a:hover, .step-indicators li a:active, .step-indicators li a:focus {
        text-decoration: none; }
  .step-indicators li.completed a {
    cursor: pointer;
    color: #333333; }
  .step-indicators li.completed .next-dot {
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color: #d4d4d4;
    border: 1px solid #787878;
    margin-top: 5px; }
    .step-indicators li.completed .next-dot .line {
      height: 31px;
      width: 1px;
      background-color: #787878;
      margin-top: -32px;
      margin-left: 4px; }
  .step-indicators li.completed i {
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: -2px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: #e6e6e6;
    margin-top: 3px; }
  .step-indicators .current-dot {
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color: #d4d4d4;
    border: 1px solid #787878;
    margin-top: 3px; }
  .step-indicators .next-dot {
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    border: 1px solid #cccccc;
    margin-top: 5px; }
    .step-indicators .next-dot .line {
      height: 30px;
      width: 1px;
      background-color: #cccccc;
      margin-top: -30px;
      margin-left: 4px; }

.sticky-button {
  position: fixed;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 120; }
  .sticky-button .btn:disabled {
    margin-right: 90px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #e6e6e6;
    padding: 10px 15px;
    color: #b3b3b3; }
  .sticky-button .next-step-valid {
    margin-right: 105px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #3d474f;
    padding: 10px 25px;
    color: white; }
  .sticky-button .previous {
    margin-left: 105px;
    margin-bottom: 30px;
    margin-top: 30px; }

.sticky-button #button-tooltip {
  position: absolute;
  width: 110px;
  height: 42px;
  right: 0;
  margin-right: 90px;
  margin-bottom: 30px;
  margin-top: 30px;
  z-index: 10; }

.sticky-button #button-tooltip-alt {
  position: absolute;
  width: 110px;
  height: 42px;
  right: 0;
  margin-right: 90px;
  margin-bottom: 30px;
  margin-top: 30px;
  z-index: 10; }

.sso-signup-success h2 {
  color: #4cb89e;
  font-size: 16px;
  font-weight: 600; }

.sso-signup-success h1 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px; }

.sso-signup-success p {
  font-size: 15px;
  margin-bottom: 0; }

.sso-signup-success a {
  color: #4cb89e;
  font-weight: 600; }

.sso-signup-success .sso-circle-icon {
  width: 60px;
  height: 60px;
  border-radius: 200px;
  text-align: center;
  line-height: 60px;
  color: #4cb89e;
  background-color: rgba(76, 184, 158, 0.08); }
  .sso-signup-success .sso-circle-icon i {
    font-size: 23px;
    line-height: inherit; }

.sso-signup-notme h2 {
  color: #3b58a0;
  font-size: 17px;
  font-weight: 600; }

.sso-signup-notme h1 {
  font-size: 25px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px; }

.sso-signup-notme p {
  font-size: 15px;
  margin-bottom: 0; }

.sso-signup-notme a {
  color: #3b58a0;
  font-weight: 600; }

.sso-support-tickets {
  background-color: #fff;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.08); }
  .sso-support-tickets h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0; }
  .sso-support-tickets h2 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(61, 71, 79, 0.5);
    margin-top: 10px;
    margin-bottom: 10px; }
  .sso-support-tickets p {
    font-size: 14px; }
  .sso-support-tickets .sso-avatar, .sso-support-tickets .sso-avatar-admin {
    position: absolute; }
  .sso-support-tickets .sso-support-tickets-textarea {
    border: 1px solid #cccccc;
    border-radius: 3px;
    position: relative;
    margin-left: 70px; }
    .sso-support-tickets .sso-support-tickets-textarea:before, .sso-support-tickets .sso-support-tickets-textarea:after {
      right: 100%;
      top: 20px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .sso-support-tickets .sso-support-tickets-textarea:before {
      border-color: rgba(204, 204, 204, 0);
      border-right-color: #cccccc;
      border-width: 11px 14px 11px 0;
      margin-top: -11px; }
    .sso-support-tickets .sso-support-tickets-textarea:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: 10px 13px 10px 0;
      margin-top: -10px; }
    .sso-support-tickets .sso-support-tickets-textarea .form-control {
      border: 0px !important;
      resize: vertical;
      border-radius: 3px; }
      .sso-support-tickets .sso-support-tickets-textarea .form-control:hover, .sso-support-tickets .sso-support-tickets-textarea .form-control:active, .sso-support-tickets .sso-support-tickets-textarea .form-control:focus {
        background-color: transparent !important; }
    .sso-support-tickets .sso-support-tickets-textarea .sso-support-tickets-controls {
      border-top: 1px solid #e0e0e0; }
      .sso-support-tickets .sso-support-tickets-textarea .sso-support-tickets-controls span {
        color: #cccccc; }
      .sso-support-tickets .sso-support-tickets-textarea .sso-support-tickets-controls div, .sso-support-tickets .sso-support-tickets-textarea .sso-support-tickets-controls button {
        display: inline-block;
        font-size: 14px; }
      .sso-support-tickets .sso-support-tickets-textarea .sso-support-tickets-controls div {
        padding: 7px 15px;
        color: rgba(61, 71, 79, 0.75); }
      .sso-support-tickets .sso-support-tickets-textarea .sso-support-tickets-controls button {
        border: 0;
        float: right;
        display: table-column-group;
        padding: 7px 25px;
        background-color: #f2f2f2;
        border-left: 1px solid #e0e0e0; }
        .sso-support-tickets .sso-support-tickets-textarea .sso-support-tickets-controls button:hover, .sso-support-tickets .sso-support-tickets-textarea .sso-support-tickets-controls button:active, .sso-support-tickets .sso-support-tickets-textarea .sso-support-tickets-controls button:focus {
          background-color: #f7f7f7; }
  .sso-support-tickets .sso-support-tickets-reply {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f0f0f0; }
    .sso-support-tickets .sso-support-tickets-reply .sso-reply {
      margin-left: 70px; }
      .sso-support-tickets .sso-support-tickets-reply .sso-reply h1 {
        font-size: 15px; }
      .sso-support-tickets .sso-support-tickets-reply .sso-reply span {
        font-size: 13px;
        color: #cbcbcb;
        font-weight: 300; }
    .sso-support-tickets .sso-support-tickets-reply p:last-child {
      margin-bottom: 0; }
    .sso-support-tickets .sso-support-tickets-reply:last-child {
      padding-bottom: 0;
      border-bottom: 0px; }

.sso-support-tickets-information h1 {
  font-size: 16px;
  font-weight: 600; }

.sso-support-tickets-information h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 15px; }

.sso-support-tickets-information p {
  font-size: 13px;
  font-weight: 400; }

.sso-mark-as {
  background-color: #f1f1f1;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 14px; }
  .sso-mark-as input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    margin-top: 0; }
  .sso-mark-as input[type="checkbox"]:after {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 12px;
    color: #f7f7f7;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 100px;
    background-color: #e0e0e0;
    display: block; }
  .sso-mark-as input[type=checkbox]:checked:after {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 12px;
    background-color: #4cb89e;
    color: #fff; }

.sso-table-button {
  border: 1px solid #cccccc;
  background-color: #fff;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 13px;
  transition: all .3s;
  margin-right: 5px;
  line-height: normal; }
  .sso-table-button:hover, .sso-table-button:active, .sso-table-button:focus {
    cursor: pointer;
    background-color: #fff;
    transition: all .3s; }

.table > tbody > tr > td {
  border-top: 1px solid #e6e6e6 !important; }

.table > thead > tr > th {
  border-bottom: 1px solid #dddddd !important; }

.table {
  margin-bottom: 0; }
  .table ul {
    padding-left: 17px;
    margin-bottom: 0; }
  .table a {
    font-weight: 600;
    text-decoration: none; }

.table-no-hover tr:hover, .table-no-hover tr:active, .table-no-hover tr:focus {
  background-color: transparent !important; }

.table-no-hover:hover, .table-no-hover:active, .table-no-hover:focus {
  background-color: transparent !important; }

.table-no-hover .sso-table-total:hover {
  background-color: #f7f7f7 !important; }

.table > tbody + tbody {
  border-top: 0; }

.body-striped tbody:nth-of-type(even) {
  background-color: #f3f3f3; }

.sso-table-total {
  background-color: #f7f7f7; }
  .sso-table-total td {
    padding: 12px 10px !important;
    font-weight: 600; }
  .sso-table-total:hover, .sso-table-total:active, .sso-table-total:focus {
    background-color: #f7f7f7 !important; }

.datatable.material {
  background: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.pagination > li > a, .pagination > li > span {
  color: rgba(61, 71, 79, 0.5) !important;
  font-weight: 600;
  background-color: transparent !important;
  border: 0px !important;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .pagination > li > a:hover, .pagination > li > a:active, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:active, .pagination > li > span:focus {
    background-color: #eaeaea !important;
    border-radius: 100px !important;
    color: #3d474f !important;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.pagination .active a {
  background-color: #eaeaea !important;
  border-radius: 100px;
  color: #3d474f !important; }

.sso-top-bar {
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  height: 65px; }
  .sso-top-bar button {
    background-color: transparent;
    display: inline-block;
    height: 64px;
    padding: 0px 25px; }
    .sso-top-bar button .avatar {
      line-height: 79px;
      vertical-align: middle;
      float: left; }
    .sso-top-bar button span {
      margin-left: 10px;
      vertical-align: middle; }
    .sso-top-bar button:hover {
      background-color: #fafafa; }
    .sso-top-bar button .dropdown-menu {
      border: 1px solid #e6e6e6 !important; }
      .sso-top-bar button .dropdown-menu:active, .sso-top-bar button .dropdown-menu:focus {
        border: 1px solid #e6e6e6 !important; }

.left-menu {
  background-color: white;
  padding: 50px 0px 100px 0px;
  width: 23%;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 80; }
  .left-menu a {
    color: #333333;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 15px;
    display: inline-block; }
    .left-menu a:hover {
      color: #666666;
      transition: 0.3s; }
  .left-menu > ul {
    background-color: white;
    list-style-type: none;
    padding-left: 50px; }
  .left-menu ul ul {
    padding-left: 0px;
    margin-top: 17px;
    list-style-type: none; }
    .left-menu ul ul li a {
      color: #333333;
      font-weight: 300;
      padding-right: 20px; }
      .left-menu ul ul li a:hover {
        color: #333333;
        transition: color 0.3s; }
    .left-menu ul ul li:hover {
      border-left: 7px solid #e6e6e6;
      margin-left: -15px;
      padding-left: 23px; }
  .left-menu i {
    padding-right: 5px;
    color: #808080; }

.left-menu-mobile a {
  color: #333333;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 15px;
  display: inline-block; }
  .left-menu-mobile a:hover {
    color: #666666;
    transition: 0.3s; }

.left-menu-mobile > ul {
  background-color: white;
  list-style-type: none;
  padding-left: 0px !important; }

.left-menu-mobile .user-greet {
  padding-left: 0px; }

.sso-main-logo {
  padding-left: 20px; }
  .sso-main-logo img {
    padding: 8px 0px 8px 0px; }

.sso-avatar-small {
  width: 35px;
  height: 35px;
  border-radius: 1000px;
  display: inline-block;
  color: #fff;
  background-color: #048586;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px; }

