<div class="row" style="margin-bottom: 20px">
    <div class="col-lg-11 col-md-10 col-sm-9">
        <h1>View User:</h1>
    </div>
</div>

<div class="sso-interior-form row">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="sso-fname">First Name</label>
                    <div style="padding: 2px"></div>
                    <div id="sso-fname" class="form-control sso-form-display-only">John</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="sso-lname">Last Name</label>
                    <div style="padding: 2px"></div>
                    <div id="sso-lname" class="form-control sso-form-display-only">Smith</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="sso-email">Email</label>
                    <div style="padding: 2px"></div>
                    <div id="sso-email" class="form-control sso-form-display-only">johns@thentia.com</div>
                </div>
            </div>
        </div>

    </div>
</div>