<table class="table table-no-hover body-striped">
    <thead>
    <tr>
        <th>Client</th>
        <th>Project</th>
        <th>Note</th>
        <th>Total time</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="2">
            <a href="">CMO</a>
        </td>
        <td>
            <a href="">Online Self Service</a>
        </td>
        <td>Whatever Placeholder goes here</td>
        <td>5hr 30m</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>

        <td>
            <a href="">Online Self Service</a>
        </td>
        <td>Whatever Placeholder goes here</td>
        <td>5hr 30m</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td rowspan="3">
            <a>CNDA</a>
        </td>
        <td>
            <a href="">Online Self Service</a>
        </td>
        <td>Whatever Placeholder goes here</td>
        <td>5hr 30m</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>

        <td>
            <a href="">Online Self Service</a>
        </td>
        <td>Whatever Placeholder goes here</td>
        <td>5hr 30m</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>

        <td>
            <a href="">Online Self Service</a>
        </td>
        <td>Whatever Placeholder goes here</td>
        <td>5hr 30m</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td rowspan="2">
            <a>BMO</a>
        </td>
        <td>
            <a href="">Online Self Service</a>
        </td>
        <td>Whatever Placeholder goes here</td>
        <td>5hr 30m</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>

        <td>
            <a href="">Online Self Service</a>
        </td>
        <td>Whatever Placeholder goes here</td>
        <td>5hr 30m</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    </tbody>
</table>

