<table class="table">
    <thead>
    <tr>
        <th>Ticket #</th>
        <th>Status</th>
        <th>Subject</th>
        <th>Priority</th>
        <th>Last Updated</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>0001</td>
        <td>Open</td>
        <td>Whatever Placeholder goes here</td>
        <td>
            <div class="sso-status sso-status-error">High</div>
        </td>
        <td>2 days ago</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/support-tickets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>
        <td>0002</td>
        <td>In-progress</td>
        <td>sefesa gesgresgtest wtgrgrwg</td>
        <td>
            <div class="sso-status sso-status-warning">Medium</div>
        </td>
        <td>3 days ago</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/support-tickets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    </tbody>
</table>