<table class="table table-striped">
    <thead>
    <tr>
        <th>Client</th>
        <th>Project</th>
        <th>Note</th>
        <th>Total time</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>CMO</td>
        <td>Online Self Service</td>
        <td>Whatever Placeholder goes here</td>
        <td>5hr 30m</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>
        <td>CMO</td>
        <td>Online Self Service</td>
        <td>Whatever Placeholder goes here</td>
        <td>5hr 30m</td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    </tbody>
</table>