<div class="sso-page container-fluid">
    <div class="row">
        <top-bar></top-bar>
    </div>
    <div class="sso-page-controls sso-page-single sso-red row">
        <div class="container">
            <div class="row" style="padding: 20px 0;">
                <div class="col-lg-8 col-md-8">
                    <div class="sso-back" [routerLink]="['/dashboard']">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <img src="src/main/resources/web/assets/images/thentia_vectorleap.png" style="width: 150px;" />
                </div>
                <div class="col-lg-4 col-md-4" style="text-align: right;">
                    <!--<div class="sso-addnew">-->
                        <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
                    <!--</div>-->
                    <input type="search" class="form-control sso-round-input sso-search" placeholder="Search..." />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="sso-page-menu">
                        <li [routerLink]="['/main/vectorleap/vectorleap-all']" [routerLinkActive]="['sso-page-menu-active']">All Instances</li>
                    </ul>
                </div>
                <!--<div class="col-lg-6 col-md-6 col-sm-6" style="text-align: right">-->
                    <!--<button class="btn btn-sm btn-red" style="margin-top: 7px">-->
                        <!--<i aria-hidden="true" class="fa fa-plus"></i>   Add New-->
                    <!--</button>-->
                    <!--<button class="btn btn-sm btn-light" style="margin-top: 7px"><i class="fa fa-clone" aria-hidden="true"></i> Clone database</button>-->
                <!--</div>-->
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="padding: 20px 0">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>