<div class="sso-login container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%; background-color: #f7f7f7">
        <div class="col-md-6 col-lg-6 hidden-xs hidden-sm" style="background-color: #fff; padding: 0">
            <div class="sso-login-logo">
                <img src="/src/main/resources/web/assets/images/thentia_logo_web.svg" width="400px" height="100%">
            </div>
        </div>
        <div class="col-sm-12 visible-sm" style="padding: 0">
            <div class="sso-login-logo-tablet">
                <img src="/src/main/resources/web/assets/images/thentia_logo_web.svg" width="300px">
            </div>
        </div>
        <div class="col-xs-12 visible-xs" style="padding: 0;">
            <div class="sso-login-logo-mobile">
                <img src="/src/main/resources/web/assets/images/thentia_logo_web.svg" width="250px">
            </div>
        </div>
        <div class="sso-login-form col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 100%; background-color: #f7f7f7">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>