<table class="table table-striped">
    <thead>
    <tr>
        <th>Client</th>
        <th>Main Contact</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Contact</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>CMO</td>
        <td>Jane Doe</td>
        <td>janed@cmo.ca</td>
        <td>123-123-1234</td>
        <td>
            123 street <br />
            Toronto, ON <br />
            Canada
        </td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view projects
            </div>
            <div class="sso-table-button" [routerLink]="['/main/timesheets/timesheets-clients-edit', 1]">
                <i class="thentia-edit"></i>  edit
            </div>
        </td>
    </tr>
    <tr>
        <td>CNDA</td>
        <td>John Smith</td>
        <td>johns@cnda.ca</td>
        <td>123-123-1234</td>
        <td>
            123 street <br />
            Toronto, ON <br />
            Canada
        </td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single', 1]">
                <i class="thentia-eye"></i>  view projects
            </div>
            <div class="sso-table-button" [routerLink]="['/main/timesheets/timesheets-clients-edit', 1]">
                <i class="thentia-edit"></i>  edit
            </div>
        </td>
    </tr>
    <tr>
        <td>BMO</td>
        <td>John Smith</td>
        <td>johns@cnda.ca</td>
        <td>123-123-1234</td>
        <td>
            123 street <br />
            Toronto, ON <br />
            Canada
        </td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view projects
            </div>

            <div class="sso-table-button" [routerLink]="['/main/timesheets/timesheets-clients-edit', 1]">
                <i class="thentia-edit"></i>  edit
            </div>
        </td>
    </tr>
    </tbody>
</table>


<div class="row">
    <div class="col-md-12">
        <button class="btn btn-sm btn-yellow" style="margin-top: 7px" [routerLink]="['/main/timesheets/timesheets-clients-add']">
            <i class="fa fa-plus"></i> Add a new client
        </button>
    </div>
</div>