<table class="table table-striped">
    <thead>
    <tr>
        <th>Client</th>
        <th>Main Contact</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Contact</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>CMO</td>
        <td>Jane Doe</td>
        <td>janed@cmo.ca</td>
        <td>123-123-1234</td>
        <td>
            123 street <br />
            Toronto, ON <br />
            Canada
        </td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>
        <td>CNDA</td>
        <td>John Smith</td>
        <td>johns@cnda.ca</td>
        <td>123-123-1234</td>
        <td>
            123 street <br />
            Toronto, ON <br />
            Canada
        </td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    <tr>
        <td>BMO</td>
        <td>John Smith</td>
        <td>johns@cnda.ca</td>
        <td>123-123-1234</td>
        <td>
            123 street <br />
            Toronto, ON <br />
            Canada
        </td>
        <td>
            <div class="sso-table-button" [routerLink]="['/main/timesheets-single']">
                <i class="thentia-eye"></i>  view
            </div>
        </td>
    </tr>
    </tbody>
</table>