<div class="sso-page container-fluid">
    <div class="row">
        <top-bar></top-bar>
    </div>
    <div class="sso-page-controls sso-page-single sso-red row">
        <div class="container">
            <div class="row" style="padding: 20px 0;">
                <div class="col-lg-8 col-md-8">
                    <div class="sso-back" [routerLink]="['/dashboard']">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <img class="sso-page-logo" src="src/main/resources/web/assets/images/thentia_supporttickets_sm.png" />
                    <h1>Support Tickets</h1>
                </div>
                <div class="col-lg-4 col-md-4" style="text-align: right;">
                    <div class="sso-addnew">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <input type="search" class="form-control sso-round-input sso-search" placeholder="Search..." />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="sso-page-menu">
                        <li [routerLink]="['/main/support-tickets/support-tickets-all']" [routerLinkActive]="['sso-page-menu-active']">All</li>
                        <li [routerLink]="['/main/support-tickets/support-tickets-priority']" [routerLinkActive]="['sso-page-menu-active']">Priority</li>
                        <li>Status</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="padding: 20px">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
