<div class="container-fluid">
    <div class="row">
        <top-bar></top-bar>
    </div>
    <div class="sso-page-controls sso-page-single row">
        <div class="row">
            <div class="col-md-6" style="padding: 20px 50px">
                <div class="sso-back" [routerLink]="['/dashboard']">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <img src="src/main/resources/web/assets/images/thentia_invoice_sm.png" />
                <h1>Invoices</h1>
            </div>
            <div class="col-md-6">
                <input type="search" class="form-control sso-round-input sso-search" placeholder="Search..." />
            </div>
        </div>

        <div class="col-md-12">
            <ul class="sso-page-menu">
                <li [routerLink]="['/main/invoices/invoices-all']" [routerLinkActive]="['sso-page-menu-active']">All</li>
                <li [routerLink]="['/main/invoices/invoices-thismonth']" [routerLinkActive]="['sso-page-menu-active']">This Month</li>
                <li>Last Month</li>
                <li>Custom Date Range</li>
                <li>Unpaid Invoices</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

