<div class="sso-main-dashboard container-fluid">
    <div class="row">
        <top-bar></top-bar>
    </div>

    <div class="sso-page-controls sso-page-main row">
        <div class="col-lg-8 col-lg-offset-2" style="padding: 20px 50px">
            <h1>Welcome! John Smith.</h1>
            <p>Welcome to the Thentia Self-service Portal. This self-service system offers all the tools you need to manage all your accounts with Thentia.</p>
        </div>
    </div>

    <div class="sso-main-dashboard-cards row">
        <div class="col-lg-8 col-lg-offset-2">

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <a href="#" [routerLink]="['/main/invoices/invoices-all']">
                    <div class="card card-1">
                        <span class="number-new">12</span>
                        <img src="src/main/resources/web/assets/images/thentia_invoice.png">
                        <h4>View Invoices</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <a>
                    <div class="card card-1">
                        <img src="src/main/resources/web/assets/images/thentia_project.png">
                        <h4>View Projects</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <a href="#" [routerLink]="['/main/support-tickets']">
                    <div class="card card-1">
                        <img src="src/main/resources/web/assets/images/thentia_support.png">
                        <h4>Manage Support Tickets</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <a>
                    <div class="card card-1">
                        <img src="src/main/resources/web/assets/images/thentia_agreement.png">
                        <h4>View Agreements</h4>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-md visible-lg"></div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <a>
                    <div class="card card-1">
                        <img src="src/main/resources/web/assets/images/thentia_knowledge.png">
                        <h4>Knowledge Base</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <a href="#" [routerLink]="['/main/manage-users']">
                    <div class="card card-1">
                        <img src="src/main/resources/web/assets/images/thentia_user.png">
                        <h4>Manage Users</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <a>
                    <div class="card card-1">
                        <img src="src/main/resources/web/assets/images/thentia_timesheet.png">
                        <h4>View Timesheets</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <a>
                    <div class="card card-1">
                        <img src="src/main/resources/web/assets/images/thentia_address.png">
                        <h4>Update Address</h4>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>