<div class="sso-main-dashboard">

    <top-bar></top-bar>

    <div class="sso-page-controls sso-page-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="padding-top: 25px; padding-bottom: 25px;">
                    <div class="col-lg-8 col-md-8">
                        <h1>Welcome! John Smith.</h1>
                        <p>Welcome to the Thentia Self-service Portal. This self-service system offers all the tools you need to manage all your accounts with Thentia.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="sso-last-login">
                            <span>Last login:</span>
                            12:20PM 12/12/16
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sso-main-dashboard-cards">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                        <a href="#" [routerLink]="['/main/invoices/invoices-all']">
                            <div class="sso-card sso-card-default">
                                <span class="number-new">12</span>
                                <img src="src/main/resources/web/assets/images/thentia_invoice.png">
                                <h4>View Invoices</h4>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                        <a>
                            <div class="sso-card sso-card-disabled">
                                <img src="src/main/resources/web/assets/images/thentia_project.png">
                                <h4>View Projects</h4>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                        <a href="#" [routerLink]="['/main/support-tickets/support-tickets-all']">
                            <div class="sso-card sso-card-default">
                                <img src="src/main/resources/web/assets/images/thentia_supporttickets.png">
                                <h4>Manage Support Tickets</h4>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                        <a>
                            <div class="sso-card sso-card-disabled">
                                <img src="src/main/resources/web/assets/images/thentia_agreement.png">
                                <h4>View Agreements</h4>
                            </div>
                        </a>
                    </div>

                    <div class="clearfix visible-md visible-lg"></div>

                    <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                        <a>
                            <div class="sso-card sso-card-disabled">
                                <img src="src/main/resources/web/assets/images/thentia_knowledge.png">
                                <h4>Knowledge Base</h4>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                        <a href="#" [routerLink]="['/main/manage-users/manage-users-all']">
                            <div class="sso-card sso-card-default">
                                <img src="src/main/resources/web/assets/images/thentia_user.png">
                                <h4>Manage Users</h4>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                        <a href="#" [routerLink]="['/main/timesheets/timesheets-all']">
                            <div class="sso-card sso-card-default">
                                <img src="src/main/resources/web/assets/images/thentia_timesheets.png">
                                <h4>View Timesheets</h4>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                        <a href="#" [routerLink]="['/main/address/address-company']">
                            <div class="sso-card sso-card-default">
                                <img src="src/main/resources/web/assets/images/thentia_address.png">
                                <h4>Update Address</h4>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                        <a href="#" [routerLink]="['/main/vectorleap']">
                            <div class="sso-card sso-card-default">
                                <img src="src/main/resources/web/assets/images/thentia_vectorleap.png" width="100%" style="padding-top: 35px; padding-bottom: 35px;">
                                <h4>Vectorleap</h4>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>



</div>