.btn {
  border-radius: 3px;
  outline: 0;
  padding: 10px 15px;
  color: #3d474f;
  font-weight: 500;
  font-size: 14px; }

.btn-brand {
  color: #fff;
  border-bottom: 2px solid #001b29;
  background-color: #004f75; }
  .btn-brand:hover, .btn-brand:active, .btn-brand:focus {
    outline: none;
    color: #fff; }

.btn-green {
  color: #fff;
  border-bottom: 2px solid #348370;
  background-color: #4cb89e; }
  .btn-green:hover, .btn-green:active, .btn-green:focus {
    outline: none;
    color: #fff; }

.btn-light {
  color: #a6a6a6;
  border-bottom: 2px solid #dddddd;
  background-color: #eaeaea; }
  .btn-light:hover, .btn-light:active, .btn-light:focus {
    color: #a6a6a6; }

.btn-line {
  color: #a6a6a6;
  border: 1px solid #cccccc;
  background-color: transparent;
  transition: all .3s; }
  .btn-line:hover, .btn-line:active, .btn-line:focus {
    color: #a6a6a6;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all .3s; }

.sso-print {
  background-color: #fff;
  border: 1px solid #cccccc;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #3d474f;
  transition: all .3s;
  border-radius: 300px;
  display: inline-block; }
  .sso-print i {
    line-height: inherit;
    font-size: 20px; }
  .sso-print:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all .3s; }

.sso-back, .sso-addnew {
  background-color: #fff;
  border: 1px solid #cccccc;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #3d474f;
  transition: all .3s;
  border-radius: 300px;
  display: inline-block; }
  .sso-back i, .sso-addnew i {
    line-height: inherit;
    font-size: 13px; }
  .sso-back:hover, .sso-addnew:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all .3s; }
