@import "variables.scss";

.sso-table-button {
  border: 1px solid #cccccc;
  background-color: #fff;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 13px;
  transition: all .3s;
  margin-right: 5px;
  @include  hover-state {
    cursor: pointer;
    background-color: #fff;
    transition: all .3s;
  }
}

.table > tbody > tr > td {
  border-top: 1px solid #e6e6e6 !important;
}

.table > thead > tr > th {
  border-bottom: 1px solid #dddddd !important;
}

.table {
  margin-bottom: 0;
  ul {
    padding-left: 17px;
    margin-bottom: 0;
  }
  a {
    font-weight: $semibold;
    text-decoration: none;
  }
}

.table-no-hover {
  tr {
    @include hover-state {
      background-color: transparent !important;
    }
  }
  @include hover-state {
    background-color: transparent !important;
  }
  .sso-table-total {
    &:hover {
      background-color: #f7f7f7 !important;
    }
  }
}

.table > tbody + tbody {
  border-top: 0;
}

.body-striped {
  tbody:nth-of-type(even) {
    background-color: #f3f3f3;
  }
}

.sso-table-total {
  background-color: #f7f7f7;
  td {
    padding: 12px 10px !important;
    font-weight: $semibold;
  }
  @include hover-state {
    background-color: #f7f7f7 !important;
  }
}

.datatable.material {
  background: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.pagination > li > a, .pagination > li > span {
  color: rgba($black, .5) !important;
  font-weight: $semibold;
  background-color: transparent !important;
  border: 0px !important;
  @include transition;
  @include hover-state {
    background-color: #eaeaea !important;
    border-radius: 100px !important;
    color: $black !important;
    cursor: pointer;
    @include transition;
  }
}

.pagination {
  .active {
    a {
      background-color: #eaeaea !important;
      border-radius: 100px;
      color: $black !important;
    }
  }
}
