@import "variables.scss";

.sso-page {
  margin-left: 9px;
}

.sso-page-single {
  h1 {
    font-size: 20px;
    font-weight: $semibold;
    display: inline-block;
    margin: 0;
  }
  .sso-search {
    height: 35px !important;
    max-width: 220px;
    font-size: 14px !important;
    display: inline-block;
  }
  .sso-page-logo {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -3px;
  }
}


.sso-page-menu {
  list-style-type: none;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-left: 0;
  li {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: rgba($black, .5);
    font-weight: $medium;
    margin-bottom: -2px;
    transition: color .3s;
    &:hover {
      cursor: pointer;
      color: rgba($black, .7);
      transition: color .3s;
    }
  }
}


.sso-page-menu-active {
  border-bottom: 3px solid $thentia-green;
  color: $black !important;
}

.sso-green {
  .sso-page-menu-active {
    border-bottom: 3px solid $thentia-green;
    color: $black !important;
  }
}

.sso-red {
  .sso-page-menu-active {
    border-bottom: 3px solid $thentia-red;
    color: $black !important;
  }
}

.sso-yellow {
  .sso-page-menu-active {
    border-bottom: 3px solid $thentia-yellow;
    color: $black !important;
  }
}

.sso-blue{
  .sso-page-menu-active {
    border-bottom: 3px solid $thentia-blue;
    color: $black !important;
  }
}

.sso-page-menu-new {
  background-color: #f7f7f7;
  font-weight: $semibold;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  padding: 10px 15px;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  @include hover-state {
    background-color: #fff;
    cursor: pointer;
  }
  i {
    font-size: 12px;
  }
}

.sso-page-single-buttons {
  position: absolute;
}

.sso-interior-block {
  margin-left: 60px;
}

.sso-interior-form {
  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .sso-no-account {
    margin-top: 0px;
  }
  .k-dropdown {
    width: 100% !important;
    padding-right: 0 !important;
    //.k-dropdown-wrap.hover {
    //  background-image: linear-gradient(#fff, #fff) !important;
    //  background-image: -webkit-linear-gradient(#fff,#fff) !important;
    //  background-image: none !important;
    //  background-color: #fff !important;
    //}
    //.k-dropdown-wrap.k-state-default.hover {
    //  background-image: linear-gradient(#fff, #fff) !important;
    //  background-image: -webkit-linear-gradient(#fff,#fff) !important;
    //  background-image: none !important;
    //  background-color: #fff !important;
    //}
    .k-dropdown-wrap{
      height: 41px !important;
      .k-icon {
        line-height: 2.5em;
        height:100%;
      }
    }
    .k-select {
      .k-i-arrow-s {
        &:before {
          font-family: FontAwesome !important;
          content: '\f107' !important;
          font-size: 14px !important;
        }
      }
    }
    .k-select:hover {
      background-color: transparent !important;
    }
    .k-input {
      font-size: 15px !important;
      height: 36px !important;
      line-height: 2.35em !important;
    }
    .k-animation-container {
      font-size: 15px !important;
    }
  }
}