.sso-table-button {
  border: 1px solid #cccccc;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 13px; }
  .sso-table-button:hover {
    cursor: pointer; }
