.sso-page {
  margin-left: 9px; }

.sso-page-single h1 {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin: 0; }

.sso-page-single .sso-search {
  height: 35px !important;
  max-width: 220px;
  font-size: 14px !important;
  display: inline-block; }

.sso-page-single .sso-page-logo {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -3px; }

.sso-page-menu {
  list-style-type: none;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-left: 0; }
  .sso-page-menu li {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: rgba(61, 71, 79, 0.5);
    font-weight: 500;
    margin-bottom: -2px;
    transition: color .3s; }
    .sso-page-menu li:hover {
      cursor: pointer;
      color: rgba(61, 71, 79, 0.7);
      transition: color .3s; }

.sso-page-menu-active, .ssopagemenuactive {
  border-bottom: 3px solid #4cb89e;
  color: #3d474f !important; }

.sso-green .sso-page-menu-active, .sso-green .ssopagemenuactive {
  border-bottom: 3px solid #4cb89e;
  color: #3d474f !important; }

.sso-green .btn-brand {
  color: #fff;
  border-bottom: 2px solid #348370;
  background-color: #4cb89e; }
  .sso-green .btn-brand:hover, .sso-green .btn-brand:active, .sso-green .btn-brand:focus {
    outline: none;
    color: #fff; }

.sso-red .sso-page-menu-active, .sso-red .ssopagemenuactive {
  border-bottom: 3px solid #eb563c;
  color: #3d474f !important; }

.sso-yellow .sso-page-menu-active, .sso-yellow .ssopagemenuactive {
  border-bottom: 3px solid #f0b030;
  color: #3d474f !important; }

.sso-blue .sso-page-menu-active, .sso-blue .ssopagemenuactive {
  border-bottom: 3px solid #004f75;
  color: #3d474f !important; }

.sso-page-menu-new {
  background-color: #f7f7f7;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  padding: 10px 15px;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .sso-page-menu-new:hover, .sso-page-menu-new:active, .sso-page-menu-new:focus {
    background-color: #fff;
    cursor: pointer; }
  .sso-page-menu-new i {
    font-size: 12px; }

.sso-page-single-buttons {
  position: absolute; }

.sso-interior-block {
  margin-left: 60px;
  background-color: #fff;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.08); }
  .sso-interior-block h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0; }
  .sso-interior-block p {
    font-size: 14px; }
  .sso-interior-block .sso-form-display-only {
    font-weight: 500;
    background-color: #f9f9f9 !important; }

.sso-page-search {
  background-color: #f2f2f2;
  margin-top: -20px;
  padding: 15px; }
  .sso-page-search .form-inline {
    margin-bottom: 0; }
    .sso-page-search .form-inline .form-group {
      margin-bottom: 0; }

.sso-interior-form .btn {
  margin-top: 20px;
  margin-bottom: 20px; }

.sso-interior-form p {
  margin-bottom: 20px;
  font-size: 14px; }

.sso-interior-form .sso-no-account {
  margin-top: 0px; }

.sso-interior-form .k-dropdown {
  width: 100% !important;
  padding-right: 0 !important; }
  .sso-interior-form .k-dropdown .k-dropdown-wrap {
    height: 41px !important;
    background-image: none !important; }
    .sso-interior-form .k-dropdown .k-dropdown-wrap .k-icon {
      line-height: 2.5em;
      height: 100%; }
  .sso-interior-form .k-dropdown .k-select .k-i-arrow-s:before {
    font-family: FontAwesome !important;
    content: '\f107' !important;
    font-size: 14px !important; }
  .sso-interior-form .k-dropdown .k-select:hover {
    background-color: transparent !important; }
  .sso-interior-form .k-dropdown .k-input {
    font-size: 15px !important;
    height: 35px !important;
    line-height: 2.35em !important; }
  .sso-interior-form .k-dropdown .k-animation-container {
    font-size: 15px !important; }

.sso-breadcrumbs {
  font-size: 14px; }
  .sso-breadcrumbs a {
    color: rgba(61, 71, 79, 0.7); }
    .sso-breadcrumbs a:hover, .sso-breadcrumbs a:active, .sso-breadcrumbs a:focus {
      text-decoration: none; }
  .sso-breadcrumbs span {
    color: rgba(61, 71, 79, 0.35); }
  .sso-breadcrumbs .active {
    font-weight: 600;
    color: #3d474f; }
