@import "variables.scss";

.sso-page {
  margin-left: 9px;
}

.sso-page-single {
  h1 {
    font-size: 20px;
    font-weight: $semibold;
    display: inline-block;
    margin: 0;
  }
  .sso-search {
    height: 35px !important;
    max-width: 220px;
    font-size: 14px !important;
    display: inline-block;
  }
  .sso-page-logo {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -3px;
  }
}


.sso-page-menu {
  list-style-type: none;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-left: 0;
  li {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: rgba($black, .5);
    font-weight: $medium;
    margin-bottom: -2px;
    transition: color .3s;
    &:hover {
      cursor: pointer;
      color: rgba($black, .7);
      transition: color .3s;
    }
  }
}

.sso-page-menu-active {
  border-bottom: 3px solid $thentia-green;
  color: $black !important;
}

.sso-green {
  .sso-page-menu-active {
    border-bottom: 3px solid $thentia-green;
    color: $black !important;
  }
}

.sso-red {
  .sso-page-menu-active {
    border-bottom: 3px solid $thentia-red;
    color: $black !important;
  }
}

.sso-yellow {
  .sso-page-menu-active {
    border-bottom: 3px solid $thentia-red;
    color: $black !important;
  }
}

.sso-blue{
  .sso-page-menu-active {
    border-bottom: 3px solid $thentia-blue;
    color: $black !important;
  }
}

.sso-page-single-buttons {
  position: absolute;
}

.sso-interior-block {
  margin-left: 60px;
}