.sso-instance {
  height: 107px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .sso-instance:hover, .sso-instance:active, .sso-instance:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    color: #3d474f;
    text-decoration: none; }
  .sso-instance h1 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 2px; }
  .sso-instance p {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 5px; }
  .sso-instance .sso-database-icon {
    border-radius: 100px;
    border: 1px solid #cccccc;
    background-color: #f2f2f2;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #b7b7b7;
    margin: 0 auto;
    margin-bottom: 7px; }
    .sso-instance .sso-database-icon i {
      line-height: inherit; }
  .sso-instance .sso-database-info {
    padding-left: 15px;
    vertical-align: top;
    margin-top: 5px; }
    .sso-instance .sso-database-info div {
      color: #bbbbbb;
      font-size: 13px; }
